h4 {
    font-family: 'Josefin Sans', sans-serif;
}

form{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/* .container{
    box-shadow: 1px 2px 5px #9FC131;
} */

 
.form-control{
    background-color: white!important;
    border: 1px solid #9FC131!important;
    outline: none!important;
    
}
.form-control:focus{
    box-shadow: none!important;
}
button.form-control{
    background-color: #9FC131!important;
    border: none!important;
}
.loginbtn{
    background-color: #9FC131!important;
    border: none!important;
}

@media (max-width: 991px) {
    .container{
      width: 100% !important;
    }
    /* .container-fluid{
        margin-top: 2rem!important;
    } */
  }


  /* olive alternate color  */